/* Vault CSS Library */

/* < 576px => Extra small screen
576px - 767px => Small screen
768px - 991px => Medium screen
992px - 1199px - Large screen (Small Desktops / Laptops)
1200px - 1399px - Extra Large (XL) screen (Large Desktops / Laptops)
1400px and above - Extra Extra large (XXL) screen */

/* @font-face {
  font-family: poppins;
  src: url(../font/Poppins-Regular.ttf);
} */


*, html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif, 'Segoe UI';
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

/* ***** Root ***** */
:root{
    --webcolor: #FF4201;
    --shaunPink: #F1356D;
    --shaunGreen: #36cca2;
    --shaunBlue: #26366b; /*#2B3452;*/
    --shaunOrange: #BC4123;
    --shaunBg: #eee;
    --sassGreen: #003F34;
    --white: #fff;
    --black: #000;
    --pink: #F2749A; /*rgb(242,166,154)*/
    --blue: dodgerblue;
    --green: #4caf50;
    --darkgreen: #015003;
    --azure: azure;
    --tomato: tomato;
    --red: red;
    --aqua: rgb(214, 255, 255);
    --darkaqua: rgb(45, 127, 127);
    --blue_aqua_gradient: linear-gradient(to bottom right, rgba(0, 255, 255, 0.603), dodgerblue);
    --aqua_darkaqua_gradient: linear-gradient(to bottom right, var(--aqua), var(--darkaqua));
    --nav-shadow: 2px 2px 4px rgba(0, 0, 0, 0.188);
    --nav-shadow-negative: -2px -2px 4px rgba(0, 0, 0, 0.188);
    --shadow1: 8px 8px 25px rgba(0, 0, 0, 0.099);
    --shadow1-negative: 8px 8px 25px rgba(0, 0, 0, 0.099);
}
.webcolor{
    color: var(--webcolor);
}
.border-web{
    border: 0.5px solid var(--webcolor);
}
.line-gradient{
    height: 2px; 
    background-image: linear-gradient(to right, white, var(--webcolor), white);
}
a{
    text-decoration: none;
}
.border-light{
    border: 1px solid rgba(0, 0, 0, 0.12);
}
.border{
    border: 2px solid black;
}
.border-w{
    border: 2px solid white;
}
button,
figure,
figcaption,
div,
section,
p, li{
    font-size: 17px;
    font-family: inherit;
    line-height: 1.6;
}
.list-none{
    list-style: none !important;
    margin: none;
}
.anchor{
    text-decoration: none;
}
.anchor-hover-underline:hover{
    text-decoration: underline;
}
.cursor-pointer{
    cursor: pointer;
}
.cursor-grab{
    cursor: grab;       /* open hand */
}
.cursor-grabbing{
    cursor: grabbing;   /* closed hand (while dragging) */
}
.font-variant-smallcaps{
    font-variant: small-caps;
}
.user-select-none{
    user-select: none;
}
.whitespace-nowrap{
    white-space: nowrap;
}
/* ***** Object fit ***** */
.object-fit-cover{
    object-fit: cover;
}
.object-fit-contain{
    object-fit: contain;
}
.object-fit-none{
    object-fit: none;
}
.object-position-top{
    object-position: top center;
}
.object-position-center{
    object-position: center center;
}
/* ***** Text Formatting *****  */
/* ***** Transformation ***** */
.text-transform-capitalize{
    text-transform: capitalize;
}
.text-transform-lowercase{
    text-transform: lowercase;
}
.text-transform-uppercase{
    text-transform: uppercase;
}
.text-transform-none{
    text-transform: none;
}
/* Alignment */
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-justify{
    text-align: justify;
}
/* Decoration */
.text-underline{
    text-decoration: underline;
}
.text-overline{
    text-decoration: overline;
}
.text-line-through{
    text-decoration: line-through;
}
.text-double{
    text-decoration: double;
}
.text-dashed{
    text-decoration: dashed;
}
.text-dotted{
    text-decoration: dotted;
}
/* Style */
.font-normal{
    font-style: normal;
}
.font-italic{
    font-style: italic;
}
.font-bold{
    font-weight: bold;
}
.font-light{
    font-weight: lighter;
}

/* ***** Overflow ***** */
.overflow-auto{
    overflow: auto;
}
.overflow-hidden{
    overflow: hidden;
}
.overflow-scroll{
    overflow: scroll;
}

/* hr  */
.hr{
    border: 0.7px solid rgba(0, 0, 0, 0.229);
}

/* ***** Font size ***** */
.fs-1{
    font-size: 12px;
}
.fs-14{
    font-size: 14px;
}
.fs-2{
    font-size: 15px;
}
.fs-3{
    font-size: 18px;
}
.fs-4{
    font-size: 21px;
}
.fs-5{
    font-size: 24px;
}
.fs-6{
    font-size: 27px;
}
.fs-7{
    font-size: 30px;
}
.fs-max-1,
.heading-1{
    font-size: 1rem;
}
.fs-max-015,
.heading-015{
    font-size: 1.5rem;
}
.fs-max-2,
.heading-2{
    font-size: 2rem;
}
.fs-max-025,
.heading-025{
    font-size: 2.5rem;
}
.fs-max-3,
.heading-3{
    font-size: 3rem;
}
.fs-max-035,
.heading-035{
    font-size: 3.5rem;
}
.fs-max-4,
.heading-4{
    font-size: 4rem;
}
.fs-max-045,
.heading-045{
    font-size: 4.5rem;
}

/* ***** Shadow ***** */
.nav-shadow{
    box-shadow: var(--nav-shadow);
}
.nav-shadow-negative{
    box-shadow: var(--nav-shadow-negative);
}
.shadow1{
    box-shadow: var(--shadow1);
}
.shadow1-negative{
    box-shadow: var(--shadow1-negative);
}

/* ***** Btn Design ***** */
.btn-design{
    height: 40px;
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
    border: 2px solid transparent;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    background-color: transparent;
    user-select: none !important;
}
.btn-design:hover{
    transition: .4s ease-in-out;
}
.btn-radius{
    border-radius: 5px;
}
.btn-padding{
    padding: 10px 15px;
}

/* ***** Color ***** */
.shaunPink-clr{
    color: var(--shaunPink);
}
.shaunBlue-clr{
    color: var(--shaunBlue);
}
.shaunGreen-clr{
    color: var(--shaunGreen);
}
.shaunOrange-clr{
    color: var(--shaunOrange);
}
.shaunBg-clr{
    color: var(--shaunBg);
}
.sassGreen-clr{
    color: var(--sassGreen);
}
.red-clr{
    color: var(--red);
}
.white-clr{
    color: white;
}
.black-clr{
    color: black;
}
.pink-clr{
    color: var(--pink);
}
.blue-clr{
    color: var(--blue);
}
.green-clr{
    color: var(--green);
}
.darkgreen-clr{
    color: var(--darkgreen);
}
.azure-clr{
    color: var(--azure);
}
.tomato-clr{
    color: var(--tomato);
}
.aqua-clr{
    color: var(--aqua);
}
.darkaqua-clr{
    color: var(--darkaqua);
}

/* ***** Background ***** */
.transparent-bg{
    background-color: transparent;
}
/* shaunPink => bg and btn  */
.shaunPink-bg{
    background-color: var(--shaunPink);
    color: white;
}
.btn-shaunPink-bg{
    background-color: var(--shaunPink);
    border-color: var(--shaunPink);
    color: var(--white);
}
.btn-shaunPink-bg:hover{
    background-color: #c42a58;
    border-color: #c42a58;
}
.btn-outline-shaunPink-bg{
    border-color: var(--shaunPink);
    color: var(--shaunPink);
}
.btn-outline-shaunPink-bg:hover{
    background-color: var(--shaunPink) !important;
    color: var(--white);
}
/* shaunBlue => bg and btn  */
.shaunBlue-bg{
    background-color: var(--shaunBlue);
    color: white;
}
.btn-shaunBlue-bg{
    background-color: var(--shaunBlue);
    border-color: var(--shaunBlue);
    color: var(--white);
}
.btn-shaunBlue-bg:hover{
    background-color: #1a2754;
    border-color: #1a2754;
}
.btn-outline-shaunBlue-bg{
    border-color: var(--shaunBlue);
    color: var(--shaunBlue);
}
.btn-outline-shaunBlue-bg:hover{
    background-color: var(--shaunBlue) !important;
    color: var(--white);
}
/* shaunGreen => bg and btn  */
.shaunGreen-bg{
    background-color: var(--shaunGreen);
    color: white;
}
.btn-shaunGreen-bg{
    background-color: var(--shaunGreen);
    border-color: var(--shaunGreen);
    color: var(--white);
}
.btn-shaunGreen-bg:hover{
    background-color: #259878;
    border-color: #259878;
}
.btn-outline-shaunGreen-bg{
    border-color: var(--shaunGreen);
    color: var(--shaunGreen);
}
.btn-outline-shaunGreen-bg:hover{
    background-color: var(--shaunGreen) !important;
    color: var(--white);
}
/* shaunOrange => btn and bg  */
.shaunOrange-bg{
    background-color: var(--shaunOrange);
    color: var(--white);
}
.btn-shaunOrange-bg{
    background-color: var(--shaunOrange);
    border-color: var(--shaunOrange);
    color: var(--white);
}
.btn-shaunOrange-bg:hover{
    background-color: #f53d10;
    border-color: #f53d10;
}
.btn-outline-shaunOrange-bg{
    border-color: var(--shaunOrange);
    color: var(--shaunOrange);
}
.btn-outline-shaunOrange-bg:hover{
    background-color: var(--shaunOrange) !important;
    color: var(--white);
}
/* shaunBg => bg and btn  */
.shaunBg-bg{
    background-color: var(--shaunBg);
    color: var(--black);
}
.btn-shaunBg-bg{
    background-color: var(--shaunBg);
    border-color: var(--shaunBg);
    color: var(--black);
}
.btn-shaunBg-bg:hover{
    background-color: var(--white);
    border-color: var(--white);
}
.btn-outline-shaunBg-bg{
    border-color: var(--shaunBg);
    color: var(--shaunBg);
}
.btn-outline-shaunBg-bg:hover{
    background-color: var(--shaunBg) !important;
    color: var(--black);
}
/* sassGreen => bg and btn  */
.sassGreen-bg{
    background-color: var(--sassGreen);
    color: white;
}
.btn-sassGreen-bg{
    background-color: var(--sassGreen);
    border-color: var(--sassGreen);
    color: var(--white);
}
.btn-sassGreen-bg:hover{
    background-color: #005c4d;
    border-color: #005c4d;
}
.btn-outline-sassGreen-bg{
    border-color: var(--sassGreen);
    color: var(--sassGreen);
}
.btn-outline-sassGreen-bg:hover{
    background-color: var(--sassGreen) !important;
    color: var(--white);
}
.red-bg{
    background-color: var(--red);
    color: white;
}
.btn-red-bg{
    background-color: var(--red);
    border-color: var(--red);
    color: var(--white);
}
.btn-red-bg:hover{
    background-color: rgb(144, 0, 0);
    border-color: rgb(144, 0, 0);
}
.btn-outline-red-bg{
    border-color: var(--red);
    color: var(--red);
}
.btn-outline-red-bg:hover{
    background-color: var(--red) !important;
    color: var(--white);
}
/* white => bg and btn  */
.white-bg{
    background-color: white;
    color: var(--black);
}
.btn-white-bg{
    background-color: var(--white);
    border-color: var(--white);
    color: var(--black);
}
.btn-white-bg:hover{
    background-color: rgb(237, 255, 255);
    border-color: rgb(237, 255, 255);
    /* background-color: rgba(255, 255, 255, 0.788); */
    /* border-color: rgba(255, 255, 255, 0.788); */
}
.btn-outline-white-bg{
    border-color: var(--white);
    color: var(--white);
}
.btn-outline-white-bg:hover{
    background-color: var(--white) !important;
    color: var(--black);
}
/* black => bg and btn  */
.black-bg{
    background-color: black;
    color: white;
}
.btn-black-bg{
    background-color: var(--black);
    border-color: var(--black);
    color: white;
}
.btn-black-bg:hover{
    background-color: rgb(71, 66, 66);
    border-color: rgb(71, 66, 66);
}
.btn-outline-black-bg{
    border-color: var(--black);
    color: var(--black);
}
.btn-outline-black-bg:hover{
    background-color: var(--black) !important;
    color: var(--white);
}
/* pink => bg and btn  */
.pink-bg{
    background-color: var(--pink);
    color: white;
}
.btn-pink-bg{
    background-color: var(--pink);
    color: white;
}
.btn-pink-bg:hover{
    background-color: #c95175 !important;
}
.btn-outline-pink-bg{
    border-color: var(--pink);
    color: var(--pink);
}
.btn-outline-pink-bg:hover{
    background-color: var(--pink) !important;
    color: var(--white);
}
/* blue => bg and btn  */
.blue-bg{
    background-color: var(--blue);
    color: white;
}
.btn-blue-bg{
    background-color: var(--blue);
    color: white;
}
.btn-blue-bg:hover{
    background-color: rgb(11, 96, 181);
}
.btn-outline-blue-bg{
    border-color: var(--blue);
    color: var(--blue);
}
.btn-outline-blue-bg:hover{
    background-color: var(--blue) !important;
    color: var(--white);
}
/* green => bg and btn  */
.green-bg{
    background-color: var(--green);
    color: white;
}
.btn-green-bg{
    background-color: var(--green);
    color: white;
}
.btn-green-bg:hover{
    background-color: var(--darkgreen);
}
.btn-outline-green-bg{
    border-color: var(--green);
    color: var(--green);
}
.btn-outline-green-bg:hover{
    background-color: var(--green) !important;
    color: var(--white);
}
/* darkgreen => bg and btn  */
.darkgreen-bg{
    background-color: var(--darkgreen);
    color: white;
}
.btn-darkgreen-bg{
    background-color: var(--darkgreen);
    color: white;
}
.btn-darkgreen-bg:hover{
    background-color: #015004c3;
}
.btn-outline-darkgreen-bg{
    border-color: var(--darkgreen);
    color: var(--darkgreen);
}
.btn-outline-darkgreen-bg:hover{
    background-color: var(--darkgreen) !important;
    color: var(--white);
}
/* azure => bg and btn  */
.azure-bg{
    background-color: var(--azure);
}
.btn-azure-bg{
    background-color: var(--azure);
    color: var(--black);
}
.btn-azure-bg:hover{
    background-color: rgb(214, 255, 255);
}
.btn-outline-azure-bg{
    border-color: var(--azure);
    color: var(--white);
}
.btn-outline-azure-bg:hover{
    background-color: rgb(214, 255, 255) !important;
    border-color: rgb(214, 255, 255) !important;
    color: var(--black);
}
/* tomato => bg and btn  */
.tomato-bg{
    background-color: var(--tomato);
}
.btn-tomato-bg{
    background-color: var(--tomato);
    border-color: var(--tomato);
    color: var(--white);
}
.btn-tomato-bg:hover{
    background-color: red;
    border-color: red;
}
.btn-outline-tomato-bg{
    border-color: var(--tomato);
    color: var(--tomato);
}
.btn-outline-tomato-bg:hover{
    background-color: red !important;
    border-color: red !important;
    color: var(--white);
}
/* aqua => bg and btn  */
.aqua-bg{
    background-color: var(--aqua);
    color: var(--black);
}
.btn-aqua-bg{
    background-color: var(--aqua);
    color: var(--black);
}
.btn-aqua-bg:hover{
    background-color: rgba(214, 255, 255, 0.644);
}
.btn-outline-aqua-bg{
    border-color: var(--aqua);
    color: var(--white);
}
.btn-outline-aqua-bg:hover{
    background-color: rgba(214, 255, 255, 0.644) !important;
    border-color: rgba(214, 255, 255, 0.644) !important;
    color: var(--black);
}
/* darkaqua => bg and btn  */
.darkaqua-bg{
    background-color: var(--darkaqua);
    color: var(--white);
}
.btn-darkaqua-bg{
    background-color: var(--darkaqua);
    color: var(--white);
}
.btn-darkaqua-bg:hover{
    background-color: rgba(45, 127, 127, 0.839);
}
.btn-outline-darkaqua-bg{
    border-color: var(--darkaqua);
    color: var(--white);
}
.btn-outline-darkaqua-bg:hover{
    background-color: var(--darkaqua) !important;
    border-color: var(--darkaqua) !important;
    color: var(--white);
}
/* blur bg  */
.blur-bg{
    background-color: rgba(255, 255, 255, 0.205);
    backdrop-filter: blur(30px);
}
.blur-bg:hover{
    transition: .4s ease-in-out;
    background-color: rgba(255, 255, 255, 0.086);
}

/* ***** Gradients ***** */
/* aqua and dodgerblue combination (to bottom right)  */
.blue-aqua-gradient{
    background: var(--blue_aqua_gradient);
}
.aqua-darkaqua-gradient{
    background: var(--aqua_darkaqua_gradient);
}


/* ***** Border ***** */
.border-none{
    border: none;
}

/* ***** Outline ***** */
.outline-none{
    outline: none;
}

/* ***** Border Radius ***** */
.border-radius-0,
.border-radius-none{
    border-radius: 0;
}
.border-radius-1{
    border-radius: 1px;
}
.border-radius-2{
    border-radius: 2px;
}
.border-radius-3{
    border-radius: 3px;
}
.border-radius-4{
    border-radius: 4px;
}
.border-radius-5{
    border-radius: 5px;
}
.border-radius-6{
    border-radius: 6px;
}
.border-radius-7{
    border-radius: 7px;
}
.border-radius-8{
    border-radius: 8px;
}
.border-radius-9{
    border-radius: 9px;
}
.border-radius-10{
    border-radius: 10px;
}
.border-radius-circle{
    border-radius: 50%;
}
.border-radius-curve{
    border-radius: 70px;
}

/* ***** Opacity ***** */
.opacity-0{
    opacity: 0;
}
.opacity-01{
    opacity: 0.1;
}
.opacity-02{
    opacity: 0.2;
}
.opacity-03{
    opacity: 0.3;
}
.opacity-04{
    opacity: 0.4;
}
.opacity-05{
    opacity: 0.5;
}
.opacity-06{
    opacity: 0.6;
}
.opacity-07{
    opacity: 0.7;
}
.opacity-08{
    opacity: 0.8;
}
.opacity-09{
    opacity: 0.9;
}
.opacity-1{
    opacity: 1;
}

/* ***** Input ***** */
input.input,
select.input{
    height: 30px;
    outline: none;
    font-size: 15px;
    padding: 7px 9px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.223);
}
select.input{
    cursor: pointer;
}

/* ***** Container -> Responsive Width ***** */
.web-container{
    max-width: 1300px;
    padding-inline: 20px;
    margin-inline: auto;
}
.container-sm{
    max-width: 700px;
    margin: auto;
}
.container{
    /* border: 2px solid black; */
    margin: auto;
    width: 100%;
    /* padding-inline: 15px; */
}

@media screen and (min-width: 640px){
    .container{
        width: 640px;
    }
}
@media screen and (min-width: 768px){
    .container{
        width: 768px;
    }
}
@media screen and (min-width: 1024px){
    .container{
        width: 1024px;
    }
}
@media screen and (min-width: 1280px){
    .container{
        width: 1280px;
    }
}
@media screen and (min-width: 1536px){
    .container{
        width: 1536px;
    }
}



/* ***** Container-lg -> Responsive Width ***** */
.container-2xl{
    max-width: 1536px;
    margin: auto;
}

/* ***** Position ***** */
.position-fixed{
    position: fixed;
}
.position-absolute{
    position: absolute;
}
.position-relative{
    position: relative;
}
.position-sticky{
    position: sticky;
}
.top-0,
.top-start{
    top: 0;
}
.top-100,
.top-end{
    top: 100%;
}
.bottom-0,
.bottom-start{
    bottom: 0;
}
.bottom-100,
.bottom-end{
    bottom: 100%;
}
.left-0,
.left-start{
    left: 0;
}
.left-100,
.left-end{
    left: 100%;
}
.right-0,
.right-start{
    right: 0;
}
.right-100,
.right-end{
    right: 100%;
}

/* ***** Transform Translate ***** */
.translate-center{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.translate-y-center{
    top: 50%;
    transform: translateY(-50%);
}
.translate-x-center{
    left: 50%;
    transform: translateX(-50%);
}

/* ***** Z-index ***** */
.z-index-n1{
    z-index: -1;
}
.z-index-n2{
    z-index: -2;
}
.z-index-1{
    z-index: 1;
}
.z-index-2{
    z-index: 2;
}
.z-index-3{
    z-index: 3;
}
.z-index-4{
    z-index: 4;
}
.z-index-5{
    z-index: 5;
}
.z-index-max-1{
    z-index: 99;
}
.z-index-max-2{
    z-index: 999;
}
.z-index-max-3{
    z-index: 9999;
}
.z-index-max-4{
    z-index: 99999;
}
.z-index-max-5{
    z-index: 999999;
}

/* ***** Height ***** */
.height-auto{
    height: auto;
}
.height-fit-content{
    height: fit-content;
}
.viewport-height{
    height: 100vh;
}
.mother-height{
    height: 100%;
}
.half-height{
    height: 50%;
}

/* ***** Width ***** */
.width-auto{
    width: auto;
}
.width-fit-content{
    width: fit-content;
}
.viewport-width{
    width: 100vh;
}
.mother-width{
    width: 100%;
}
.half-width{
    width: 50%;
}

/* ***** Display ***** */
.d-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.d-none{
    display: none !important;
}
.d-block{
    display: block !important;
}
.d-flex{
    display: flex;
}
.flex-direction-row{
    flex-direction: row;
}
.flex-direction-row-reverse{
    flex-direction: row-reverse;
}
.flex-direction-column{
    flex-direction: column;
}
.flex-direction-column-reverse{
    flex-direction: column-reverse;
}
.justify-content-start{
    justify-content: flex-start;
}
.justify-content-end{
    justify-content: flex-end;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-around{
    justify-content: space-around;
}
.justify-content-evenly{
    justify-content: space-evenly;
}
.align-items-start{
    align-items: flex-start;
}
.align-items-end{
    align-items: flex-end;
}
.align-items-center{
    align-items: center;
}
.align-items-between{
    align-items: space-between;
}
.align-items-around{
    align-items: space-around;
}
.align-items-evenly{
    align-items: space-evenly;
}
.align-self-start{
    align-self: flex-start;
}
.align-self-end{
    align-self: flex-end;
}
.align-self-center{
    align-self: center;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-grow-05{
    flex-grow: 0.5;
}
.flex-grow-1{
    flex-grow: 1;
}
/* flex gap x axis */
.gap-05{
    gap: 5px;
}
.gap-1{
    gap: 10px;
}
.gap-015{
    gap: 15px;
}
.gap-2{
    gap: 20px;
}
.gap-025{
    gap: 25px;
}
.gap-3{
    gap: 30px;
}
.gap-035{
    gap: 35px;
}
.gap-4{
    gap: 40px;
}

/* ***** MARGIN ***** */
.m-05{
    margin: 5px;
}
.m-1{
    margin: 10px;
}
.m-015{
    margin: 15px;
}
.m-2{
    margin: 20px;
}
.m-025{
    margin: 25px;
}
.m-3{
    margin: 30px;
}
.m-035{
    margin: 35px;
}
.m-4{
    margin: 40px;
}
.margin-auto{
    margin: auto;
}
.mx-auto{
    margin-inline: auto;
}
.my-auto{
    margin-block: auto;
}
/* margin - top  */
.mt-05{
    margin-top: 5px;
}
.mt-1{
    margin-top: 10px;
}
.mt-015{
    margin-top: 15px;
}
.mt-2{
    margin-top: 20px;
}
.mt-025{
    margin-top: 25px;
}
.mt-3{
    margin-top: 30px;
}
.mt-035{
    margin-top: 35px;
}
.mt-4{
    margin-top: 40px;
}
/* margin - bottom  */
.mb-05{
    margin-bottom: 5px;
}
.mb-1{
    margin-bottom: 10px;
}
.mb-015{
    margin-bottom: 15px;
}
.mb-2{
    margin-bottom: 20px;
}
.mb-025{
    margin-bottom: 25px;
}
.mb-3{
    margin-bottom: 30px;
}
.mb-035{
    margin-bottom: 35px;
}
.mb-4{
    margin-bottom: 40px;
}
/* margin - left  */
.ml-05{
    margin-left: 5px;
}
.ml-1{
    margin-left: 10px;
}
.ml-015{
    margin-left: 15px;
}
.ml-2{
    margin-left: 20px;
}
.ml-025{
    margin-left: 25px;
}
.ml-3{
    margin-left: 30px;
}
.ml-035{
    margin-left: 35px;
}
.ml-4{
    margin-left: 40px;
}
.ml-auto{
    margin-left: auto;
}

/* margin - right  */
.mr-05{
    margin-right: 5px;
}
.mr-1{
    margin-right: 10px;
}
.mr-015{
    margin-right: 15px;
}
.mr-2{
    margin-right: 20px;
}
.mr-025{
    margin-right: 25px;
}
.mr-3{
    margin-right: 30px;
}
.mr-035{
    margin-right: 35px;
}
.mr-4{
    margin-right: 40px;
}
.mr-auto{
    margin-right: auto;
}
/* margin - y axis (top and bottom)  */
.my-05{
    margin-block: 5px;
}
.my-1{
    margin-block: 10px;
}
.my-015{
    margin-block: 15px;
}
.my-2{
    margin-block: 20px;
}
.my-025{
    margin-block: 25px;
}
.my-3{
    margin-block: 30px;
}
.my-035{
    margin-block: 35px;
}
.my-4{
    margin-block: 40px;
}
/* margin - x axis (left and right)  */
.mx-05{
    margin-inline: 5px;
}
.mx-1{
    margin-inline: 10px;
}
.mx-015{
    margin-inline: 15px;
}
.mx-2{
    margin-inline: 20px;
}
.mx-025{
    margin-inline: 25px;
}
.mx-3{
    margin-inline: 30px;
}
.mx-035{
    margin-inline: 35px;
}
.mx-4{
    margin-inline: 40px;
}
/* margin large  */
/* 1rem */
.margin-lg-1{
    margin-block: 1rem;
}
.margin-top-lg-1{
    margin-top: 1rem;
}
.margin-bottom-lg-1{
    margin-bottom: 1rem;
}
/* 2rem */
.margin-lg-2{
    margin-block: 2rem;
}
.margin-top-lg-2{
    margin-top: 2rem;
}
.margin-bottom-lg-2{
    margin-bottom: 2rem;
}
/* 3rem */
.margin-lg-3{
    margin-block: 3rem;
}
.margin-top-lg-3{
    margin-top: 3rem;
}
.margin-bottom-lg-3{
    margin-bottom: 3rem;
}
/* 4rem */
.margin-lg-4{
    margin-block: 4rem;
}
.margin-top-lg-4{
    margin-top: 4rem;
}
.margin-bottom-lg-4{
    margin-bottom: 4rem;
}

/* ******** PADDING ******** */
.p-05{
    padding: 5px;
}
.p-1{
    padding: 10px;
}
.p-015{
    padding: 15px;
}
.p-2{
    padding: 20px;
}
.p-025{
    padding: 25px;
}
.p-3{
    padding: 30px;
}
.p-035{
    padding: 35px;
}
.p-4{
    padding: 40px;
}
/* padding - top  */
.pt-05{
    padding-top: 5px;
}
.pt-1{
    padding-top: 10px;
}
.pt-015{
    padding-top: 15px;
}
.pt-2{
    padding-top: 20px;
}
.pt-025{
    padding-top: 25px;
}
.pt-3{
    padding-top: 30px;
}
.pt-035{
    padding-top: 35px;
}
.pt-4{
    padding-top: 40px;
}
/* padding - bottom  */
.pb-05{
    padding-bottom: 5px;
}
.pb-1{
    padding-bottom: 10px;
}
.pb-015{
    padding-bottom: 15px;
}
.pb-2{
    padding-bottom: 20px;
}
.pb-025{
    padding-bottom: 25px;
}
.pb-3{
    padding-bottom: 30px;
}
.pb-035{
    padding-bottom: 35px;
}
.pb-4{
    padding-bottom: 40px;
}
/* padding left */
.pl-05{
    padding-left: 5px;
}
.pl-1{
    padding-left: 10px;
}
.pl-015{
    padding-left: 15px;
}
.pl-2{
    padding-left: 20px;
}
.pl-025{
    padding-left: 25px;
}
.pl-3{
    padding-left: 30px;
}
.pl-035{
    padding-left: 35px;
}
.pl-4{
    padding-left: 40px;
}
/* padding right */
.pr-05{
    padding-right: 5px;
}
.pr-1{
    padding-right: 10px;
}
.pr-015{
    padding-right: 15px;
}
.pr-2{
    padding-right: 20px;
}
.pr-025{
    padding-right: 25px;
}
.pr-3{
    padding-right: 30px;
}
.pr-035{
    padding-right: 35px;
}
.pr-4{
    padding-right: 40px;
}
/* padding - y axis (top and bottom)  */
.py-0{
    padding-block: 0;
}
.py-05{
    padding-block: 5px;
}
.py-1{
    padding-block: 10px;
}
.py-015{
    padding-block: 15px;
}
.py-2{
    padding-block: 20px;
}
.py-025{
    padding-block: 25px;
}
.py-3{
    padding-block: 30px;
}
.py-035{
    padding-block: 35px;
}
.py-4{
    padding-block: 40px;
}
/* padding - x axis (left and right)  */
.px-05{
    padding-inline: 5px;
}
.px-1{
    padding-inline: 10px;
}
.px-015{
    padding-inline: 15px;
}
.px-2{
    padding-inline: 20px;
}
.px-025{
    padding-inline: 25px;
}
.px-3{
    padding-inline: 30px;
}
.px-035{
    padding-inline: 35px;
}
.px-4{
    padding-inline: 40px;
}
/* padding large  */
/* 1rem */
.padding-lg-1{
    padding-block: 1rem;
}
.padding-top-lg-1{
    padding-top: 1rem;
}
.padding-bottom-lg-1{
    padding-bottom: 1rem;
}
/* 2rem */
.padding-lg-2{
    padding-block: 2rem;
}
.padding-top-lg-2{
    padding-top: 2rem;
}
.padding-bottom-lg-2{
    padding-bottom: 2rem;
}
/* 3rem */
.padding-lg-3{
    padding-block: 3rem;
}
.padding-top-lg-3{
    padding-top: 3rem;
}
.padding-bottom-lg-3{
    padding-bottom: 3rem;
}
/* 4rem */
.padding-lg-4{
    padding-block: 4rem;
}
.padding-top-lg-4{
    padding-top: 4rem;
}
.padding-bottom-lg-4{
    padding-bottom: 4rem;
}
/* 5rem */
.padding-lg-5{
    padding-block: 5rem;
}
.padding-top-lg-4{
    padding-top: 5rem;
}
.padding-bottom-lg-5{
    padding-bottom: 5rem;
}


/* Animations */
/* SlideUp Animation */
.slideUp{
    animation: slideUp 0.2s linear 1;
}
@keyframes slideUp{
    from{
        transform: translateY(20px);
    } to{
        transform: translateY(0);
    }
}
/* SlideDown Animation */
.slideDown{
    animation: slideDown 0.2s linear 1;
}
@keyframes slideDown{
    from{
        transform: translateY(-20px);
    } to{
        transform: translateY(0);
    }
}
/* SlideLeft Animation */
.slideLeft{
    animation: slideLeft 0.2s linear 1;
}
@keyframes slideLeft{
    from{
        transform: translateX(20px);
    } to{
        transform: translateX(0);
    }
}
/* SlideRight Animation */
.slideRight{
    animation: slideRight 0.2s linear 1;
}
@keyframes slideRight{
    from{
        transform: translateX(-20px);
    } to{
        transform: translateX(0);
    }
}
/* ZoomIn Animation */
.zoomIn{
    animation: zoomIn 0.2s linear 1;
}
@keyframes zoomIn{
    from{
        transform: scale(0.9);
    } to{
        transform: scale(1);
    }
}
/* ZoomOut Animation */
.zoomOut{
    animation: zoomOut 0.2s linear 1;
}
@keyframes zoomOut{
    from{
        transform: scale(1.1);
    } to{
        transform: scale(1);
    }
}


 /* Dropdown */ /* *********************************************************************** */
.dropdown-holder{
    position: relative;
}
.dropdown-holder > .dropdown{
    /* background-color: white; */
    position: absolute;
    top: 100%;
    left: 0;
    /* width: 200px; */
    width: 150px;
    height: fit-content;
    /* box-shadow: var(--nav-shadow); */
    z-index: 999;
    box-shadow: var(--shadow1);
    display: none;
}
.dropdown-holder-hover > .dropdown{
    display: none;
}
.dropdown-holder-hover:hover > .dropdown{
    display: block !important;
}
.dropdown-holder > .dropdown ul{
    list-style: none !important;
}
.dropdown-holder > .dropdown ul a{
    text-decoration: none !important;
}
.dropdown-holder > .dropdown > ul > li,
.dropdown-holder > .dropdown > ul > a > li{
    padding: 5px 12px;
    color: var(--black);
    cursor: pointer;
}
.dropdown-holder > .dropdown ul li:hover{
    /* background-color: rgba(20, 20, 20, 0.103); */
}
.dropdown-holder > .dropdown .dropdown-title{
    padding: 5px 12px;
    color: var(--black);
    font-weight: bold;
    opacity: 0.7;
    font-size: 14px;
}
.dropdown-holder > .dropdown > .btn,
.dropdown-holder > .dropdown > ul > .btn{
    padding: 5px 12px;
    width: 100% !important;
}

.dropdown-holder > .dropdown > ul > ul > li,
.dropdown-holder > .dropdown > ul > ul > a > li{
    /* padding-left: 18px; */
    padding: 5px 12px 5px 20px;
    color: var(--black);
    cursor: pointer;
    font-size: 14px;
}


/* Pop-up Window  */
.alert-box{
    height: 100vh !important;
    width: 100% !important;
    background-color: rgba(0, 0, 0, 0.61);
    position: fixed;
    top: 0 !important;
    left: 0 !important;
    z-index: 999999999;
    overflow: auto;
}
.alert-box-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
.alert-box .alert-box-content{
    position: relative;
    /* overflow: auto; */
    /* background-color: white; */
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.alert-box .alert-box-content .alert-box-header,
.alert-box .alert-box-content .alert-box-footer{
    /* position: sticky;
    top: 0 !important;
    left: 0 !important; */
    width: 100% !important;
    box-shadow: var(--nav-shadow);
}
.alert-box .alert-box-content .alert-box-body{
    height: 100%;
    overflow: auto;
}
.alert-box .alert-box-content .alert-box-body{
    height: 100%;
    overflow: auto;
}



/* Notification */
.notification{
    background-color: white;
    color: var(--sassGreen);
    /* border-radius: 7px; */
    /* border-radius: 4px; */
    border: 1px solid rgba(33, 33, 33, 0.106);
    /* border-left: 2px solid var(--sassGreen); */
    padding: 10px 10px;
    font-size: 13px !important;
    box-shadow: var(--shadow1);
    min-width: 250px;
    max-width: 300px;
    /* cursor: pointer; */
    z-index: 999999;
}
.notification p{
    font-size: inherit !important;
}
.notification-top-right{
    position: fixed;
    right: 20px;
    top: 20px;
    animation: notificationAnimate 0.2s linear;
}
@keyframes notificationAnimate{
    from{
        transform: translateX(300px);
    } to{
        transform: translateX(0);
    }
}
@media screen and (max-width: 480px){
    .notification{
        min-width: 95%;
        margin: auto;
    }
    .notification-top-right{
        right: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    @keyframes notificationAnimate{
        from{
            transform: translateX(300px);
        } to{
            transform: translateX(-50%);
        }
    }
}



